body {
    text-align: center;
    background-color: grey;
}
.welcome {
    color: white;
    cursor: url('../assets/mouse_click.png'), auto;
}
.about {
    color: black;
    cursor: url('../assets/mouse_click.png'), auto;
}
.services {
    color: white;
    cursor: url('../assets/mouse_click.png'), auto;
}

